@CHARSET "ISO-8859-1";

.dragEventsSunday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnSunday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.dragEventsMonday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnMonday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.dragEventsTuesday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnTuesday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.dragEventsWednesday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnWednesday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.dragEventsThursday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnThursday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.dragEventsFriday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnFriday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.dragEventsSaturday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnSaturday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}
