@CHARSET "ISO-8859-1";

.dragEventsSunday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnSunday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.eventsSunday{
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.dragEventsMonday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnMonday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.eventsMonday{
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.dragEventsTuesday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnTuesday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.eventsTuesday{
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.dragEventsWednesday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnWednesday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.eventsWednesday{
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.dragEventsThursday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnThursday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.eventsThursday{
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.dragEventsFriday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnFriday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.eventsFriday{
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.dragEventsSaturday {
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}

.columnSaturday {
	overflow: hidden;
	max-width: 200px;
	height: 960px;
	background: GhostWhite;
	position: relative; 
}

.eventsSatursday{
	width: 200px;
	border: 1px solid yellow;
	position: absolute;
}
